#{extends 'main.html' /}
#{set title:'bilan d\'un entretien technique' /}

<div class="row">
    <div class="span12">
        <form class="well form-horizontal">

            <fieldset>
                <legend>&{'bilanInterview.title'}</legend>

                <div class="row">
                    <div class="span3">&{'candidate'}</div>
                    <div class="span3">
                        ${interview.candidateName} ${interview.candidateFirstName}
                    </div>
                </div>

                <div class="row">
                    <div class="span3">&{'bilanInterview.date'}</div>
                    <div class="span3">
                        ${interview.interviewDate?.format("dd/MM/yyyy HH:mm")}
                    </div>
                </div>

                <div class="row">
                    <div class="span3">&{'bilanInterview.examinateur'}</div>
                    <div class="span3">
                        ${interview.examiner?.lastname} ${interview.examiner?.firstname}
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        &{'bilanInterview.examinerComment'}
                    </div>
                    <div class="span3">
                        <textarea class="input-xlarge" rows="3" id="comments">${interview.examinerComment}</textarea><br>
                        <a type="submit" class="btn btn-success" onclick="updateComment()"><i class="icon-plus icon-white"></i>Enregistrer le commentaire</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    #{list items:topics, as: 'topic'}
    <div class="span4 well">
        <fieldset>
            <legend>${topic.label}</legend>
            <div id="graph${topic.id}"
                 style="margin-top: 20px; margin-left: 20px; width: 300px; height: 300px; position: relative; "
                 class="jqplot-target">
            </div>
            <div id="detail${topic.id}">

            </div>
        </fieldset>
    </div>
    #{/list}
</div>


#{set 'moreScripts'}
<script src="@{'/public/js/jquery.jqplot.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/js/plugins/jqplot.barRenderer.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/js/plugins/jqplot.categoryAxisRenderer.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/js/plugins/jqplot.canvasTextRenderer.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/js/plugins/jqplot.canvasAxisLabelRenderer.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/js/plugins/jqplot.pointLabels.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script>
    $(document).ready(function () {
        $.jqplot.config.enablePlugins = true;

        var ticks = ${ticks};

        #{list items:topics, as: 'topic'}
            var serieGood${topic.id} = ${goodMarkSeriesByTopic[topic.id]};
            var serieBad${topic.id} = ${badMarkSeriesByTopic[topic.id]};
            plot${topic.id} = $.jqplot('graph${topic.id}', [serieGood${topic.id}, serieBad${topic.id}], {
                // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
                seriesColors: [ "#3ff475", "#fc7b50"],
                animate:!$.jqplot.use_excanvas,
                stackSeries:true,
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    pointLabels: { show: false},
                    rendererOptions: {
                        animation: {
                            speed: 800
                        },
                        barWidth: 20,      // number of pixels between adjacent groups of bars.
                    }
                },
                series:[
                    {label:'% bonnes réponses'},
                    {label:'% mauvaises réponses',  pointLabels: { show: true, labels:${percentSuccessLabelsByTopic[topic.id]}, location: 'n', edgeTolerance: -15 }, }
                ],
                // Show the legend and put it outside the grid, but inside the
                // plot container, shrinking the grid to accomodate the legend.
                // A value of "outside" would not shrink the grid and allow
                // the legend to overflow the container.
                legend: {
                    show: true,
                    location: 's',
                    placement: 'outsideGrid'
                },
                axes:{
                    xaxis:{
                        labelOptions: {
                            fontFamily: 'Georgia, Serif',
                            fontSize: '12pt'
                        },
                        renderer:$.jqplot.CategoryAxisRenderer,
                        ticks:ticks
                    },
                    yaxis:{
                        label:'Nb Questions',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                        labelOptions: {
                            fontFamily: 'Georgia, Serif',
                            fontSize: '12pt'
                        }
                    }
                },

                highlighter:{ show:false }
            });
        #{/list}
    });

    function updateComment(){
        $.post("@{Interviews.saveComments()}", { idInterview: "${interview.id}", comments: $("#comments").val()} );
    }

</script>
#{/set}