#{extends 'main.html' /}
#{set title:'bilan d\'un entretien technique' /}

<div class="row">
    <div class="span12">
        <div class="well">
            <h3>&{'bilanInterview.title'}</h3>
            <hr>
        <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">&{'candidate'}</label>
                    <div class="controls">
                        <span class="input-xlarge uneditable-input">${interview.candidateName} ${interview.candidateFirstName}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">&{'bilanInterview.date'}</label>
                    <div class="controls">
                        <span class="input-xlarge uneditable-input">${interview.interviewDate?.format("dd/MM/yyyy HH:mm")}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">&{'bilanInterview.examinateur'}</label>
                    <div class="controls">
                        <span class="input-xlarge uneditable-input">${interview.examiner?.lastname} ${interview.examiner?.firstname}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">&{'bilanInterview.examinerComment'}</label>
                    <div class="controls">
                        <textarea class="input-xlarge" id="textarea" rows="3">${interview.examinerComment}</textarea>
                        <br><br>
                        <a type="submit" class="btn btn-success" onclick="updateComment()">Enregistrer le commentaire</a>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="span4">
        <div class="well sidebar-nav">

            <h3>Questions</h3>
            <hr>
            <ul class="nav nav-list">
            #{set topic: -1 /}
            #{list items:interview.questions, as:'iq' }
                #{if topic != iq.question.topic.id}
                    <li class="nav-header">${iq.question.topic.label} </li>
                    #{set topic: iq.question.topic.id /}
                #{/if}
                <li><a href="@{Interviews.question(interview.id,iq.index)}" >Question ${iq.index} <small style="float: right; color: #666">${iq.question.difficulty} - ${iq.mark}</small></a></li>
            #{/list}
            </ul>

        </div>
    </div>

    #{list items:topics, as: 'topic'}
    <div class="span4">
        <div class="well">
            <h3>${topic.label}</h3>
            <hr>
            <div id="graph${topic.id}"
                 style="width: 280px; height: 280px; position: relative; "
                 class="jqplot-target">
            </div>
            <div id="detail${topic.id}">

            </div>
        </div>
    </div>
    #{/list}
</div>


#{set 'moreScripts'}
<script src="@{'/public/js/jquery.jqplot.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/js/plugins/jqplot.barRenderer.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/js/plugins/jqplot.categoryAxisRenderer.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/js/plugins/jqplot.canvasTextRenderer.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/js/plugins/jqplot.canvasAxisLabelRenderer.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script src="@{'/public/js/plugins/jqplot.pointLabels.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>
<script>
    $(document).ready(function () {
        $.jqplot.config.enablePlugins = true;

        var ticks = ${ticks};

        #{list items:topics, as: 'topic'}
            var serieGood${topic.id} = ${goodMarkSeriesByTopic[topic.id]};
            var serieBad${topic.id} = ${badMarkSeriesByTopic[topic.id]};
            plot${topic.id} = $.jqplot('graph${topic.id}', [serieGood${topic.id}, serieBad${topic.id}], {
                // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
                seriesColors: [ "#3ff475", "#fc7b50"],
                animate:!$.jqplot.use_excanvas,
                stackSeries:true,
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    pointLabels: { show: false},
                    rendererOptions: {
                        animation: {
                            speed: 800
                        },
                        barWidth: 20,      // number of pixels between adjacent groups of bars.
                    }
                },
                series:[
                    {label:'% bonnes réponses'},
                    {label:'% mauvaises réponses',  pointLabels: { show: true, labels:${percentSuccessLabelsByTopic[topic.id]}, location: 'n', edgeTolerance: -15 }, }
                ],
                // Show the legend and put it outside the grid, but inside the
                // plot container, shrinking the grid to accomodate the legend.
                // A value of "outside" would not shrink the grid and allow
                // the legend to overflow the container.
                legend: {
                    show: true,
                    location: 's',
                    placement: 'outsideGrid'
                },
                axes:{
                    xaxis:{
                        labelOptions: {
                            fontFamily: 'Georgia, Serif',
                            fontSize: '12pt'
                        },
                        renderer:$.jqplot.CategoryAxisRenderer,
                        ticks:ticks
                    },
                    yaxis:{
                        label:'Nb Questions',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                        labelOptions: {
                            fontFamily: 'Georgia, Serif',
                            fontSize: '12pt'
                        }
                    }
                },

                highlighter:{ show:false }
            });
        #{/list}
    });

    function updateComment(){
        $.post("@{Interviews.saveComments()}", { idInterview: "${interview.id}", comments: $("#comments").val()} );
    }

</script>
#{/set}