#{extends 'main.html' /}
#{set title:'Préparer un entretien technique' /}

<div class="row">
    <div class="span12">
        <form class="well form-horizontal">
            <fieldset>
                <legend>&{'prepareInterview.title'}</legend>
                <div class="control-group">
                    <label class="control-label">&{'candidate'}</label>
                    <div class="controls docs-input-sizes">
                        <input class="span2" type="text" placeholder="&{'candidate.lastname'}" required />
                        <input class="span2" type="text" placeholder="&{'candidate.firstname'}" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="prependedInput">&{'interview.dateTime'}</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <input type="text" id="datetimepicker" size="30" class="span2"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="appendedInput">&{'interview.topics'}</label>
                    <div class="controls">
                        <div class="input-append">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>&{'topic.label'}</th>
                                    <th>&{'topic.difficulty'}</th>
                                </tr>
                                </thead>
                                <tbody>
                                #{list items:topics, as:'topic'}
                                <tr>
                                    <td>${topic.label}</td>
                                    <td>
                                        <label class="radio inline">
                                            <input type="radio" name="${topic.label}" id="${topic.label}_${topic.id}_0" value="0" checked="checked">
                                            &{'topic.difficulty.none'}
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="${topic.label}" id="${topic.label}_${topic.id}_1" value="1" >
                                            &{'topic.difficulty.beginner'}
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="${topic.label}" id="${topic.label}_${topic.id}_2" value="2" >
                                            &{'topic.difficulty.intermediate'}
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="${topic.label}" id="${topic.label}_${topic.id}_3" value="3" >
                                            &{'topic.difficulty.advanced'}
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="${topic.label}" id="${topic.label}_${topic.id}_4" value="4" >
                                            &{'topic.difficulty.expert'}
                                        </label>
                                    </td>
                                </tr>
                                #{/list}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
          <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="reset" class="btn">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
#{set 'moreScripts'}
<script src="@{'/public/js/jquery-ui-1.8.17.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/js/jquery-ui-timepicker-addon.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script>$(function() {$( "#datetimepicker" ).datetimepicker({
    hourGrid: 4,
    minuteGrid: 10
});});</script>
#{/set}