#{extends 'main.html' /}
#{set title:'Préparer un entretien technique' /}

<div class="row">
    <div class="span12">
        #{form @save() }
            <input type="hidden" name="interview.id" value="${interview?.id}" />
            <div class="well form-horizontal">
            <fieldset>
                <legend>&{'prepareInterview.title'}</legend>
                <div class="control-group">
                    <label class="control-label">&{'candidate'}</label>
                    <div class="controls docs-input-sizes">
                        <input class="span2" type="text" placeholder="&{'candidate.lastname'}" name="interview.candidateName" value="${interview?.candidateName}" required  />
                        <input class="span2" type="text" placeholder="&{'candidate.firstname'}" name="interview.candidateFirstName" value="${interview?.candidateFirstName}" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="interviewDate">&{'interview.dateTime'}</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <input type="text" id="interviewDate" size="30" class="span2" name="interview.interviewDate" value="${interview?.interviewDate?.format('dd/MM/yyyy HH:mm')}" required />
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >&{'interview.topics'}</label>
                    <div class="controls">
                        <div class="input-append">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>&{'topic.label'}</th>
                                    <th>&{'topic.difficulty'}</th>
                                </tr>
                                </thead>
                                <tbody>
                                #{list items:topics, as:'topic'}
                                <tr>
                                    <td>${topic.label}</td>
                                    <td>
                                        <input type="hidden" name="topics[${topic_index-1}].topic.id" value="${topic.id}">
                                        <label class="radio inline">
                                            <input type="radio" name="topics[${topic_index-1}].initialDifficulty" value="" #{if !interview?.containsTopic(topic)}checked="checked"#{/if}>
                                            &{'topic.difficulty.none'}
                                        </label>
                                        #{list items:models.Difficulty.values(), as:'difficulty'}
                                            <label class="radio inline">
                                                <input type="radio" name="topics[${topic_index-1}].initialDifficulty" value="${difficulty}" #{if interview?.hasInitialDifficulty(topic, difficulty)}checked="checked"#{/if}>
                                            &{'difficulty.' + difficulty}
                                            </label>
                                        #{/list}
                                    </td>
                                </tr>
                                #{/list}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">&{'Enregistrer'}</button>
                    <a href="@{Application.home()}" class="btn">&{'Annuler'}</a>
                </div>
            </fieldset>
            </div>
        #{/form}
    </div>
</div>
#{set 'moreScripts'}
<script src="@{'/public/js/jquery-ui-1.8.17.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/js/jquery-ui-timepicker-addon.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script>$(function() {$( "#interviewDate" ).datetimepicker({
    dateFormat:'dd/mm/yy',
    timeFormat: 'hh:mm',
    hourGrid: 4,
    minuteGrid: 10,
    hourMin: 8,
    hourMax: 20
});});</script>
#{/set}