#{extends 'admin/main.html' /}
#{set title:addTitle /}

<div id="crudShow" class="span9 well">

        #{form @delete(object._key()), style:"float: right"}
            <p>
                <button class="btn btn-danger" type="submit" ><i class="icon-trash icon-white"></i> #{get 'deleteButton' /} </button>
            </p>
        #{/form}

        <h2 id="crudShowTitle">#{get 'addTitle' /}</h2>

        <div class="objectForm">
        #{form action:@save(object._key()), enctype:'multipart/form-data', class:'form-horizontal'}

        #{doLayout /}

            <p class="crudButtons">
                <button class="btn btn-success" type="submit" name="_save" >&{'crud.save', type.modelName}</button>
                <button class="btn btn-success" type="submit" name="_saveAndContinue" >&{'crud.saveAndContinue', type.modelName}</button>
            </p>
        #{/form}
        </div>



</div>