#{extends 'main.html' /}

<div class="row">
    <div class="span3 well">
        <ul class="nav nav-list">
            <h3>Administration</h3>
            <hr>
            #{if currentUser?.hasRole(models.Role.TECHNICAL_ADMIN)}
                <li #{if type?.name=='Topics'}class="active"#{/if}><a href="/admin/topics">&{'topics.label'}</a></li>
                <li #{if type?.name=='Questions'}class="active"#{/if}><a href="/admin/questions">&{'questions'}</a></li>
            #{/if}
            #{if currentUser?.hasRole(models.Role.STAFF_ADMIN)}
            <li #{if type?.name=='Interviews'}class="active"#{/if}><a href="/admin/interviews">&{'interviews'}</a></li>
            <li #{if type?.name=='Users'}class="active"#{/if}><a href="/admin/users">&{'users'}</a></li>
            #{/if}
        </ul>
    </div>

    #{doLayout /}
</div>
