#{extends 'admin/main.html' /}
#{set title:messages.get('crud.show.title', type.name) /}

<div id="crudShow" class="span9 well ${type.name}">

        #{form @delete(object._key()), style:"float: right"}
            <p>
                <button class="btn btn-danger" type="submit" ><i class="icon-trash icon-white"></i> &{'crud.delete', type.modelName} </button>
            </p>
        #{/form}

        <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>

        <div class="objectForm">
        #{form action:@save(object._key()), enctype:'multipart/form-data', class:'form-horizontal'}

        #{doLayout /}

            <p class="crudButtons">
                <button class="btn" type="submit" name="_save" >&{'crud.save', type.modelName}</button>
                <button class="btn" type="submit" name="_saveAndContinue" >&{'crud.saveAndContinue', type.modelName}</button>
            </p>
        #{/form}
        </div>



</div>