#{extends 'admin/main.html' /}
#{set title:addTitle /}

<div id="crudList" class="span9 well">

    #{if !(type.modelName == 'Interview') }
        <span style="float: right">
            <a class="btn btn-success" href="@{blank()}"><i class="icon-plus icon-white"></i> #{get 'addButton' /}</a>
        </span>
    #{/if}
    <h2 id="crudListTitle">#{get 'addTitle' /}</h2>
    <hr>

    <div id="crudListSearch">
    #{crud.search /}
    </div>

    <div class="crudList">
    #{doLayout /}
    </div>

    <br>

    <div id="crudListPagination">
    #{crud.pagination /}
    </div>

</div>


