#{extends 'admin/main.html' /}
#{set title:addTitle /}

<div id="crudBlank" class="span9 well">

    <h2 id="crudBlankTitle">#{get 'addTitle' /}</h2>

    <div class="objectForm">

    #{form action:@create(), enctype:'multipart/form-data'}
        #{doLayout /}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" class="btn"/>
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" class="btn"/>
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" class="btn"/>
        </p>
    #{/form}
    </div>

</div>

