#{extends 'admin/main-list.html' /}
#{set addTitle:messages.get('crud.list.title', 'Entretiens') /}
#{set addButton:messages.get('crud.add', 'un entretien') /}
<div id="crudListTable">
#{crud.table fields:['candidateName', 'candidateFirstName', 'interviewDate', 'bilan'], sort:[interviewDate]}
    #{crud.custom 'candidateName'}
        ${object.candidateName}
    #{/crud.custom}
    #{crud.custom 'interviewDate'}
        ${object.interviewDate.format("dd/MM/yyyy HH:mm")}
    #{/crud.custom}
    #{crud.custom 'bilan'}
        #{if object.complete}
            <a href="@{Interviews.bilan(object.id)}">&{'editInterview.bilan'}</a>
        #{/if}
    #{/crud.custom}
#{/crud.table}
</div>

