#{extends 'main.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div class="row">
    <div class="span3 well">
        <ul class="nav nav-list">
            <li class="nav-header"><i class="icon-cog"></i> administration</li>
            <li class="active"><a href="#">Utilisateurs</a></li>
            <li><a href="#">Entretiens</a></li>
            <li><a href="#">Questions</a></li>
        </ul>
    </div>
    <div id="crudList" class="span9 well ${type.name}">

        <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

        <div id="crudListSearch">
            #{crud.search /}
        </div>

        <div id="crudListTable">
            #{crud.table fields:['lastname', 'firstname']/}
        </div>

        <br>

        <div id="crudListPagination">
            #{crud.pagination /}
        </div>

        <p id="crudListAdd">
            <a class="btn" href="@{blank()}"><i class="icon-plus"></i> &{'crud.add', type.modelName}</a>
        </p>

    </div>
</div>
