#{extends 'main.html' /}
#{set title:'Home' /}

#{if currentUser?.staffAdmin}
<section id="examiner-dashboard">
    <div class="page-header">
        <h1>&{'home.staffAdmin'}</h1>
    </div>

    <!-- Supported devices -->
    <div class="row">
        <div class="span6 well">
            <h3>&{'home.uncompletedInterviews'}</h3>
            <ol>
                #{list items: uncompletedInterviews, as:'UInterview'}
                    <li><a href="@{Interviews.prepare(UInterview.id)}">&{'home.interviewOf'} ${UInterview.candidateName} ${UInterview.candidateFirstName} - &{UInterview.interviewDate.format('dd/MM/yyyy HH:mm')}</a></li>
                #{/list}
            </ol>
            <p>
                <a class="btn btn-success" href="@{Interviews.prepare}"><i class="icon-plus icon-white"></i> &{'home.prepareNewInterview'}</a>
            </p>
        </div>
        #{if !lastCompletedInterviews.isEmpty()}
        <div class="span6  well">
            <h3>&{'home.lastCompletedInterviews'}</h3>
            <ol>
                #{list items: lastCompletedInterviews, as:'LCInterview'}
                    <li><a href="@{Interviews.bilan(LCInterview.id)}">&{'home.interviewOf'} ${LCInterview.candidateName} ${LCInterview.candidateFirstName}</a></li>
                #{/list}
            </ol>
        </div>
        #{/if}
    </div>

</section>
#{/if}
#{if currentUser?.techAdmin}
<h2>You're a Tech admin !</h2>
#{/if}


#{if currentUser?.examiner}

<section id="examiner-dashboard">
    <div class="page-header">
        <h1>&{'home.examiner'}</h1>
    </div>

    <!-- Supported devices -->
    <div class="row">
        <div class="span6 well">
            <h3>&{'home.myUncompletedInterview'}</h3>
            <ol>
                #{list items: examinerUncompletedInterviews, as:'EUInterview'}
                    <li><a href="@{Interviews.prepare(EUInterview.id)}">&{'home.interviewOf'} ${EUInterview.candidateName} ${EUInterview.candidateFirstName} - &{EUInterview.interviewDate.format('dd/MM/yyyy HH:mm')}</a> <a href="@{Interviews.startInterview(EUInterview.id)}" class="btn"> <i class="icon-play"></i> </a></li>
                #{/list}
            </ol>
            <p>
                <a class="btn btn-success" href="@{Interviews.prepare}"><i class="icon-plus icon-white"></i> &{'home.prepareNewInterview'}</a>
            </p>
        </div>
        #{if !examinerLastCompletedInterviews.isEmpty()}
        <div class="span6  well">
            <h3>&{'home.myLastCompletedInterview'}</h3>
            <ol>
                #{list items: examinerLastCompletedInterviews, as:'ELCInterview'}
                    <li><a href="@{Interviews.bilan(ELCInterview.id)}">&{'home.interviewOf'} ${ELCInterview.candidateName} ${ELCInterview.candidateFirstName}</a></li>
                #{/list}
            </ol>
        </div>
        #{/if}
    </div>

</section>

#{/if}