#{extends 'main.html' /}
#{set title:'Home' /}

#{if currentUser?.staffAdmin}
<section id="examiner-dashboard">
    <div class="page-header">
        <h1>&{'home.staffAdmin'}</h1>
    </div>

    <!-- Supported devices -->
    <div class="row">
        <div class="span6 well">
            <h3>&{'home.uncompletedInterviews'}</h3>
            <ol>
                #{list items: uncompletedInterviews, as:'UInterview'}
                    <li><a href="@{Interviews.prepare(UInterview.id)}">&{'home.interviewOf'} ${UInterview.candidateName} ${UInterview.candidateFirstName} - &{UInterview.interviewDate.format('dd/MM/yyyy HH:mm')}</a></li>
                #{/list}
            </ol>
            <p>
                <a class="btn btn-success" href="@{Interviews.prepare}"><i class="icon-plus icon-white"></i> &{'home.prepareNewInterview'}</a>
            </p>
        </div>
        #{if !lastCompletedInterviews.isEmpty()}
        <div class="span6  well">
            <h3>&{'home.lastCompletedInterviews'}</h3>
            <ol>
                #{list items: lastCompletedInterviews, as:'LCInterview'}
                    <li><a href="@{Interviews.bilan(LCInterview.id)}">&{'home.interviewOf'} ${LCInterview.candidateName} ${LCInterview.candidateFirstName}</a></li>
                #{/list}
            </ol>
        </div>
        #{/if}
    </div>

</section>
#{/if}

#{if currentUser?.techAdmin}
<section id="examiner-dashboard">
    <div class="page-header">
        <h1>&{'home.techAdmin'}</h1>
    </div>
    <div class="row">
        <div class="span6 well">
            <h3>&{'home.question'}</h3>
            <hr>
            <p>
                <a class="btn btn-success" href="/admin/questions/new"><i class="icon-plus icon-white"></i> &{'home.addNewQuestion'}</a>
            </p>
        </div>
        <div class="span6  well">
            <h3>&{'home.topic'}</h3>
            <hr>
            <p>
                <a class="btn btn-success" href="/admin/topics/new"><i class="icon-plus icon-white"></i> &{'home.addNewTopic'}</a>
            </p>
        </div>
    </div>
</section>
#{/if}


#{if currentUser?.examiner}

<section id="examiner-dashboard">
    <div class="page-header">
        <h1>&{'home.examiner'}</h1>
    </div>

    <div class="row">
        <div class="span6 well">
            <h3>&{'home.myUncompletedInterview'}</h3>
            <hr>
            <table class="table">
                #{list items: examinerUncompletedInterviews, as:'EUInterview'}
                    <tr>
                        <td><a href="@{Interviews.prepare(EUInterview.id)}">${EUInterview.interviewDate.format('dd/MM/yyyy HH:mm')}</a></td>
                        <td><a href="@{Interviews.prepare(EUInterview.id)}">${EUInterview.candidateName} ${EUInterview.candidateFirstName}</a></td>
                        <td><a href="@{Interviews.startInterview(EUInterview.id)}" class="btn" title="&{'home.startInterview'}"> <i class="icon-play"></i> </a></td>
                    </tr>
                #{/list}
            </table>
            <p>
                <a class="btn btn-success" href="@{Interviews.prepare}"><i class="icon-plus icon-white"></i> &{'home.prepareNewInterview'}</a>
            </p>
        </div>
        #{if !examinerLastCompletedInterviews.isEmpty()}
        <div class="span6  well">
            <h3>&{'home.myLastCompletedInterview'}</h3>
            <hr>
            <ol>
                #{list items: examinerLastCompletedInterviews, as:'ELCInterview'}
                    <li><a href="@{Interviews.bilan(ELCInterview.id)}">&{'home.interviewOf'} ${ELCInterview.candidateName} ${ELCInterview.candidateFirstName}</a></li>
                #{/list}
            </ol>
        </div>
        #{/if}
    </div>

</section>

#{/if}