#{extends 'main.html' /}
#{set title:'Accueil' /}

<div class="row">

    <div class="span10 offset1">
        <div class="well">
            <h3>Kobayashi Maru</h3>
            <hr/>
            <p>The Kobayashi Maru is a test in the fictional Star Trek universe. </p>
            <p>It is a Starfleet training exercise designed to test the character of cadets in the command track at Starfleet Academy.</p>
            <p>The Kobayashi Maru test was first depicted in the opening scene of the film Star Trek II: The Wrath of Khan and also appears in the 2009 film Star Trek.</p>
            <p>In Star Trek VI: The Undiscovered Country, Dr. McCoy referenced the test euphemistically to indicate the no-win scenario that he and Captain Kirk were facing.</p>
            <p>The test's name is occasionally used among Star Trek fans or those familiar with the series to describe a no-win scenario, or a solution that involves redefining the problem (Outside the box).</p>
        </div>
    </div>

</div> 