#{extends 'main.html' /}
#{set title:'Accueil' /}

<div class="row">

    <div class="span4 well">
        <h3>Compte 'examiner'</h3>
        <p>Login : examiner@apside.fr</p>
        <p>Mdp : hello</p>
    </div>

    <div class="span4 well">
        <h3>Compte 'staffAdmin'</h3>
        <p>Login : staffAdmin@apside.fr</p>
        <p>Mdp : hello</p>
    </div>

    <div class="span4 well">
        <h3>Compte 'techAdmin'</h3>
        <p>Login : techAdmin@apside.fr</p>
        <p>Mdp : hello</p>
    </div>

</div> 